<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Login e Registro com HTML5 e CSS3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <head class="container principal">
        <div>
            <h1 class="cadastro">Cadastro</h1>
        </div>
    </head>
    <section class="input">
    <div>
        <div>
            <label for="txtusuario">Seu nome</label>
        </div>
        <div>
            <input type="text" id="txtusuario" name="user" autofocus>
        </div>
        <div>
            <label for="txtemail">E-mail</label>
        </div>
        <div>
            <input type="email" name="E-mail" id="txtemail">
        </div>
        <div>
            <label for="txtsenha">Sua senha</label>
        </div>
        <div>
            <input type="password" name="Senha" id="txtsenha">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>  
    </div>
</section>
<footer>
    <div>
        <p><b>Já tem conta?</b></p>
        <button><a href="colocar o link da proxima pagina"></a><b>Ir para Login</b></button>
    </div>
</footer>
</body>
</html>